// ----------------------------------------------
// General
// ----------------------------------------------

a
	color: $black

::selection
	background: $highlight-color
	color: $white

::-moz-selection
	background: $highlight-color
	color: $white

body
	background-color: $white

header
	background-color: $main-color

h1
	color: $white

h2, h3
	color: $main-color

h4
	color: $dark-grey

.content-table
	border-color: $main-color
	span
		color: $grey
	ul li a 
		color: $main-color
		&:hover
			color: $main-color-light
			-webkit-transition: background-color 200ms ease 100ms
			-moz-transition: background-color 200ms ease 100ms
			-o-transition: background-color 200ms ease 100ms
			transition: color 200ms ease 100ms

a
	color: $main-color
	i
		color: inherit
	&:hover
		color: $main-color-light
		-webkit-transition: background-color 200ms ease 100ms
		-moz-transition: background-color 200ms ease 100ms
		-o-transition: background-color 200ms ease 100ms
		transition: color 200ms ease 100ms

hr
	background-color: $light-grey

footer
	background-color: $main-color
	div
		color: $white
