// ----------------------------------------------
// General
// ----------------------------------------------


// ----------------------------------------------
// Material manipulation
// ----------------------------------------------
main, footer div, header div
	max-width: 600px
	padding: 0 15px
	margin: 0 auto

header
	padding: 0
	div
		padding-top: 5px
		padding-bottom: 5px
		.title
			padding: 0
		img
			display: none
			padding-left: 0
			padding-right: 0

// ----------------------------------------------
// Other
// ----------------------------------------------
h1
	margin-bottom: 0

footer div
	padding: 24px 15px
