@import normalize

// ----------------------------------------------
// General
// ----------------------------------------------
*
	font-family: Raleway, Helvetica, Arial
	font-size: 1em
	font-weight: 300

a
	text-decoration: none
	font-weight: 400

html, body, #__nuxt, #__layout, main, .wrapper
	height: 100%

.content
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -70px

footer, .push
	height: 70px

h1
	font-size: 3.4em
	font-weight: 300
	margin-top: 0

h2
	font-size: 2em
	font-weight: 400

h3
	font-size: 1.5em
	font-weight: 500
	margin-bottom: 12px

h4
	font-size: 1.2em
	font-weight: 500
	margin: 12px 0

p
	margin-top: 0
	font-size: 1.2em

b, strong
	font-weight: 500

.intro
	font-size: 1.2em
	line-height: 25px

.content-table
	border-style: solid
	border-width: 0 0 0 5px
	padding-left: 15px
	margin-top: 30px
	margin-bottom: 50px
	span
		margin-left: 5px
	ul
		list-style-type: none
		padding-left: 0
		li
			text-decoration: none
			margin: 5px 0
			font-size: 1.2em
			a
				padding: 1px 4px
				border-radius: 2px
				position: relative

hr
	margin-top: 30px
	margin-bottom: 60px
	border: none
	height: 1px
	clear: both

footer div
	padding: 20px 0
	font-weight: 400

// ----------------------------------------------
// Coloring
// ----------------------------------------------
$main-color: #1B5E20
$main-color-light: #43A047
$highlight-color: #43A047
$green: #4CAF50
$green-light: #66BB6A
$lighter-grey: #f6f6f6
$light-grey: #d5d5d5
$grey: #999999
$dark-grey: #212121
$white: white
$black: black
@import 'theme'

// ----------------------------------------------
// Media queries
// ----------------------------------------------

//Phone
@import viewport-phone

//Tablets
@media screen and (min-width: 600px)
	@import viewport-tablet

//Tablets
@media screen and (min-width: 1065px)
	@import viewport-desktop
